# Exercises on Basic Routines in R
* Author: Johannes Maucher
* Last Update: 12.09.2017, a few modifications by OK in 2019
* Corresponding lecture notebook: [02DataTypes](../01Basics/02DataTypes.ipynb)

## Solve the tasks ...

Your solution should contain 
* the implemented code in code-cells, 
* the output of this code
* answers on questions in mark-down cells
* and optionally your remarks, discussion, comments on the solution in markdown-cells.

Send me the resulting Jupyter notebook.

## Tasks
1. At time $t=0$ a vehicle has speed $v_0$ (in $m/s$). The vehicle's accelaration is $a$ (in $m/s^2$). Then the traveled distance $s$ (in meters) after an arbitrary time $t$ (in seconds) can be calculated as 
$$s=\frac{1}{2}a t^2 +v_0 t.$$ 
In a lab experiment after time $t_1=2s$ the traveled distance is measured to be $s_1=16m$ and after time $t_2=4s$ the traveled distance is measured to be $s_2=44m$. Calculate the vehicle's accelaration $a$ and initial speed $v_0$ by solving the corresponding system of linear equations in R.

2. Assign the constant `letters` to the variable `x` and `letters` in reverse order to the variable `y`. What is the result of `x > y`? Repeat this experiment but now `letters` and the reverse ordering of `letters` shall be represented as *factors*. What is now the result of `x > y`?

3. A company likes to store the following data of it's employees:
    1. ID
    2. Name
    3. Age
    4. Salary
    
   For each employee this data shall be stored in a R - list. Create such lists for 4 arbitrary sample persons and assign all of these lists to another list `employeelist`. 
   1. Access and display all data of a single employee.  
   2. Access and display the salary of a single employee.
   3. Define a list for a new person and insert this new list at the third position of the `employeelist`.
   4. Remove the list of an arbitrary person from `employeelist`.

4. Read the [energy data file](../Lecture/data/EnergyMixGeoClust.csv) into a dataframe `energyData` like in the lecture notebook. 
    1. Determine the number of observations (rows) and features (columns) of this dataframe.
    2. Create a dataframe `energyDataRed`, which contains all data of `energyData`, except the 4 countries with the highest coal-consumption.
    3. Calculate the mean and the median of the coal-consumption for both dataframes `energyData` and `energyDataRed`.
    4. What do you conclude from this experiment regarding the quality of the statistics *mean* and *median*?
    
To order rows you can use the function `arrange()` - see [arrange()](https://dplyr.tidyverse.org/reference/arrange.html) and [examples](https://r4ds.had.co.nz/transform.html#arrange-rows-with-arrange) from **tidyverse** (more exactly from the dplyr package)

In [100]:
library(tidyverse)

Task 1: Calculate the vehicle's accelaration  ùëé  and initial speed  ùë£0  by solving the corresponding system of linear equations in R.

In [101]:
(C <- matrix(c(1, 1,
               2, 1), 
                  nrow=2, ncol=2, byrow = TRUE))

a <- c(16, 44)
as.data.frame(a)  #different display

x <- solve(C, a)
as.data.frame(x)  #different display

     [,1] [,2]
[1,] 1    1
[2,] 2    1

  a
1 16
2 44

  x
1  28
2 -12

The vehicle's accelaration ùëé is 28 m/s^2 and initial speed ùë£0 is -12 m/s

Task 2: Assign the constant letters to the variable x and letters in reverse order to the variable y. What is the result of x > y? Repeat this experiment but now letters and the reverse ordering of letters shall be represented as factors. What is now the result of x > y?

In [102]:
x <- 'letters'
y <- 'srettel'

x>y

xFact <- factor(x) #convert vector into factor
yFact <- factor(y) #convert vector into factor

xFact>yFact

[1] FALSE

Warning message in Ops.factor(xFact, yFact):
"'>' not meaningful for factors"

[1] NA

x>y solange sie Konstanten repr√§sentieren. '>' macht f√ºr Faktoren keinen Sinn, da sie kategorische Werte rep√§sentieren.

Task 3:Create such lists for 4 arbitrary sample persons and assign all of these lists to another list employeelist.

In [104]:
person1 <- list(ID=0, name='Aaron', age=22, salary=2100)
person2 <- list(ID=1, name='Barek', age=23, salary=2200)
person3 <- list(ID=2, name='Carmen', age=24, salary=2300)
person4 <- list(ID=3, name='Derek', age=25, salary=2400)

employeelist <- list (person1, person2, person3, person4)
employeelist

[[1]]
[[1]]$ID
[1] 0

[[1]]$name
[1] "Aaron"

[[1]]$age
[1] 22

[[1]]$salary
[1] 2100


[[2]]
[[2]]$ID
[1] 1

[[2]]$name
[1] "Barek"

[[2]]$age
[1] 23

[[2]]$salary
[1] 2200


[[3]]
[[3]]$ID
[1] 2

[[3]]$name
[1] "Carmen"

[[3]]$age
[1] 24

[[3]]$salary
[1] 2300


[[4]]
[[4]]$ID
[1] 3

[[4]]$name
[1] "Derek"

[[4]]$age
[1] 25

[[4]]$salary
[1] 2400

Task 3A: Access and display all data of a single employee.

In [105]:
employeelist[1]

[[1]]
[[1]]$ID
[1] 0

[[1]]$name
[1] "Aaron"

[[1]]$age
[1] 22

[[1]]$salary
[1] 2100

Task 3B: Access and display the salary of a single employee.

In [106]:
employeelist[[1]]$salary

[1] 2100

Task 3C: Define a list for a new person and insert this new list at the third position of the employeelist

In [107]:
person5 <- list(ID=4, name='Enar', age=26, salary=2500)
employeelist <- append(employeelist, list(person5), after=2)
employeelist

[[1]]
[[1]]$ID
[1] 0

[[1]]$name
[1] "Aaron"

[[1]]$age
[1] 22

[[1]]$salary
[1] 2100


[[2]]
[[2]]$ID
[1] 1

[[2]]$name
[1] "Barek"

[[2]]$age
[1] 23

[[2]]$salary
[1] 2200


[[3]]
[[3]]$ID
[1] 4

[[3]]$name
[1] "Enar"

[[3]]$age
[1] 26

[[3]]$salary
[1] 2500


[[4]]
[[4]]$ID
[1] 2

[[4]]$name
[1] "Carmen"

[[4]]$age
[1] 24

[[4]]$salary
[1] 2300


[[5]]
[[5]]$ID
[1] 3

[[5]]$name
[1] "Derek"

[[5]]$age
[1] 25

[[5]]$salary
[1] 2400

Task 3D: Remove the list of an arbitrary person from employeelist.

In [108]:
employeelist[3] <- NULL
employeelist

[[1]]
[[1]]$ID
[1] 0

[[1]]$name
[1] "Aaron"

[[1]]$age
[1] 22

[[1]]$salary
[1] 2100


[[2]]
[[2]]$ID
[1] 1

[[2]]$name
[1] "Barek"

[[2]]$age
[1] 23

[[2]]$salary
[1] 2200


[[3]]
[[3]]$ID
[1] 2

[[3]]$name
[1] "Carmen"

[[3]]$age
[1] 24

[[3]]$salary
[1] 2300


[[4]]
[[4]]$ID
[1] 3

[[4]]$name
[1] "Derek"

[[4]]$age
[1] 25

[[4]]$salary
[1] 2400

Task4: Read the energy data file into a dataframe energyData like in the lecture notebook.

In [135]:
energyData <- read.csv(file="../data/EnergyMixGeoClust.csv", header=TRUE, 
                       sep=",",row.names=1)
glimpse(energyData)

Observations: 65
Variables: 11
$ Country   <fct> US, Canada, Mexico, Argentina, Brazil, Chile, Colombia, E...
$ Oil       <dbl> 842.9, 97.0, 85.6, 22.3, 104.3, 15.4, 8.8, 9.9, 8.5, 27.4...
$ Gas       <dbl> 588.7, 85.2, 62.7, 38.8, 18.3, 3.0, 7.8, 0.4, 3.1, 26.8, ...
$ Coal      <dbl> 498.0, 26.5, 6.8, 1.1, 11.7, 4.1, 3.1, 0.0, 0.5, 0.0, 2.3...
$ Nuclear   <dbl> 190.2, 20.3, 2.2, 1.8, 2.9, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
$ Hydro     <dbl> 62.2, 90.2, 6.0, 9.2, 88.5, 5.6, 9.3, 2.1, 4.5, 19.5, 8.3...
$ Total2009 <dbl> 2182.0, 319.2, 163.2, 73.3, 225.7, 28.1, 29.0, 12.4, 16.6...
$ CO2Emm    <dbl> 5941.9, 602.7, 436.8, 164.2, 409.4, 70.3, 57.9, 31.3, 35....
$ Lat       <dbl> 37.090240, 56.130366, 23.634501, -38.416097, -14.235004, ...
$ Long      <dbl> -95.712891, -106.346771, -102.552784, -63.616672, -51.925...
$ Cluster   <int> 6, 5, 6, 4, 5, 5, 5, 5, 5, 5, 5, 4, 4, 6, 2, 2, 6, 6, 3, ...

Task 4A: Determine the number of observations (rows) and features (columns) of this dataframe.

In [136]:
print(paste0("number of observations (rows) : ", nrow(energyData)))
print(paste0("number of features (columns) : ", ncol(energyData)))

[1] "number of observations (rows) : 65"
[1] "number of features (columns) : 11"

Task 4B: Create a dataframe energyDataRed, which contains all data of energyData, except the 4 countries with the highest coal-consumption.

In [137]:
#sort by Coal
energyDataRed <- energyData[order(energyData$Coal),]
#reverse Order
energyDataRed <-energyDataRed %>% map_df(rev)
#drop first 4 elements
energyDataRed <- energyDataRed[-c(1, 2, 3, 4), ] 
print(paste0("number of observations energyDataRed(rows) : ", nrow(energyDataRed)))
print(paste0("number of features energyDataRed(columns) : ", ncol(energyDataRed)))
glimpse(energyDataRed)

[1] "number of observations energyDataRed(rows) : 61"
[1] "number of features energyDataRed(columns) : 11"
Observations: 61
Variables: 11
$ Country   <fct> South_Africa, Russian_Federation, Germany, South_Korea, P...
$ Oil       <dbl> 24.3, 124.9, 113.9, 104.3, 25.5, 42.7, 46.6, 14.1, 12.0, ...
$ Gas       <dbl> 0.0, 350.7, 70.2, 30.4, 12.3, 23.1, 10.2, 42.3, 17.7, 33....
$ Coal      <dbl> 99.4, 82.9, 71.0, 68.6, 53.9, 50.8, 38.7, 35.0, 33.0, 30....
$ Nuclear   <dbl> 2.7, 37.0, 30.5, 33.4, 0.0, 0.0, 9.4, 18.6, 0.0, 0.0, 15....
$ Hydro     <dbl> 0.2, 39.8, 4.2, 0.7, 0.7, 2.6, 0.8, 2.7, 1.7, 2.7, 1.2, 8...
$ Total2009 <dbl> 126.8, 635.3, 289.8, 237.5, 92.3, 119.2, 105.7, 112.5, 64...
$ CO2Emm    <dbl> 468.6, 1535.3, 795.6, 663.3, 320.4, 386.6, 320.3, 280.8, ...
$ Lat       <dbl> -30.559482, 61.524010, 51.165691, 35.907757, 51.919438, -...
$ Long      <dbl> 22.937506, 105.318756, 10.451526, 127.766922, 19.145136, ...
$ Cluster   <int> 2, 4, 6, 6, 2, 2, 6, 4, 2, 6, 4, 2, 5, 2, 6, 6, 5, 6, 3, ...

Task 4C: Calculate the mean and the median of the coal-consumption for both dataframes energyData and energyDataRed.

In [138]:
# Get Median of the column by column name
print(paste0("Median of energyDataRed : ", median(energyDataRed$Coal)))
print(paste0("Median of energyData : ", median(energyData$Coal)))

# Get Mean of the column by column name
print(paste0("Mean of energyDataRed : ", mean(energyDataRed$Coal)))
print(paste0("Mean of energyData : ", mean(energyData$Coal)))

[1] "Median of energyDataRed : 4"
[1] "Median of energyData : 4.1"
[1] "Mean of energyDataRed : 13.5098360655738"
[1] "Mean of energyData : 49.4476923076923"

Task 4D: What do you conclude from this experiment regarding the quality of the statistics mean and median?
To order rows you can use the function arrange() - see arrange() and examples from tidyverse (more exactly from the dplyr package)

In [140]:
energyData %>% arrange(desc(Coal))

    Country              Oil   Gas   Coal   Nuclear Hydro Total2009 CO2Emm
1   China                404.6  79.8 1537.4  15.9   139.3 2177.0    7518.5
2   US                   842.9 588.7  498.0 190.2    62.2 2182.0    5941.9
3   India                148.5  46.7  245.8   3.8    24.0  468.9    1539.1
4   Japan                197.6  78.7  108.8  62.1    16.7  463.9    1222.1
5   South_Africa          24.3   0.0   99.4   2.7     0.2  126.8     468.6
6   Russian_Federation   124.9 350.7   82.9  37.0    39.8  635.3    1535.3
7   Germany              113.9  70.2   71.0  30.5     4.2  289.8     795.6
8   South_Korea          104.3  30.4   68.6  33.4     0.7  237.5     663.3
9   Poland                25.5  12.3   53.9   0.0     0.7   92.3     320.4
10  Australia             42.7  23.1   50.8   0.0     2.6  119.2     386.6
11  Taiwan                46.6  10.2   38.7   9.4     0.8  105.7     320.3
12  Ukraine               14.1  42.3   35.0  18.6     2.7  112.5     280.8
13  Kazakhstan            12.0  17.7   33.0   0.0     1.7   64.4     209.2
14  Indonesia             62.0  33.0   30.5   0.0     2.7  128.2     388.5
15  United_Kingdom        74.4  77.9   29.7  15.7     1.2  198.9     529.1
16  Turkey                28.8  28.9   27.2   0.0     8.1   93.0     264.1
17  Canada                97.0  85.2   26.5  20.3    90.2  319.2     602.7
18  Czech_Republic         9.7   7.4   15.8   6.1     0.7   39.6     109.5
19  Thailand              44.2  35.3   14.1   0.0     1.5   95.1     274.4
20  Italy                 75.1  64.5   13.4   0.0    10.5  163.4     434.8
21  Brazil               104.3  18.3   11.7   2.9    88.5  225.7     409.4
22  Spain                 72.9  31.1   10.6  12.0     6.1  132.6     338.7
23  France                87.5  38.4   10.1  92.9    13.1  241.9     398.7
24  Greece                20.2   3.0    7.9   0.0     1.6   32.7     100.4
25  Netherlands           49.4  35.0    7.9   1.0     0.0   93.3     265.1
26  China_Hong_Kong_SAR   14.0   2.3    7.6   0.0     0.0   23.9      78.5
27  Mexico                85.6  62.7    6.8   2.2     6.0  163.2     436.8
28  Philippines           12.1   3.0    6.8   0.0     2.2   24.2      71.3
29  Bulgaria               4.4   2.2    6.3   3.5     0.9   17.4      43.7
30  Romania                9.9  12.2    6.2   2.7     3.6   34.6      83.7
... ...                  ...   ...   ...    ...     ...   ...       ...
36  Finland                9.9   3.2 3.7     5.4     2.9   25.0      52.5
37  Portugal              12.9   3.9 3.6     0.0     2.0   22.3      62.7
38  Slovakia               3.9   5.1 3.6     3.2     1.1   16.8      38.1
39  Colombia               8.8   7.8 3.1     0.0     9.3   29.0      57.9
40  Hungary                7.3   9.1 2.5     3.5     0.1   22.4      53.6
41  Austria               13.0   8.4 2.3     0.0     8.3   32.0      68.8
42  New_Zealand            6.8   3.6 1.7     0.0     5.5   17.6      36.2
43  Sweden                13.7   1.0 1.6    11.9    14.9   43.2      50.9
44  Uzbekistan             4.9  43.9 1.4     0.0     1.4   51.5     123.5
45  Iran                  83.6 118.5 1.4     0.0     1.3  204.8     540.3
46  Republic_of_Ireland    8.0   4.3 1.3     0.0     0.2   13.9      40.1
47  Argentina             22.3  38.8 1.1     1.8     9.2   73.3     164.2
48  Egypt                 33.7  38.3 1.1     0.0     3.1   76.3     197.8
49  Algeria               14.9  24.0 0.7     0.0     0.1   39.7     104.8
50  Peru                   8.5   3.1 0.5     0.0     4.5   16.6      35.5
51  Bangladesh             4.5  17.8 0.4     0.0     0.3   22.9      57.0
52  Norway                 9.7   3.7 0.3     0.0    28.8   42.5      39.9
53  Lithuania              2.9   2.5 0.2     2.5     0.3    8.2      15.3
54  Iceland                1.0   0.0 0.1     0.0     2.8    3.9       3.5
55  Switzerland           12.3   2.7 0.1     6.2     8.1   29.4      44.5
56  Ecuador                9.9   0.4 0.0     0.0     2.1   12.4      31.3
57  Venezuela             27.4  26.8 0.0     0.0    19.5   73.6     147.0
58  Azerbaijan             2.8   6.9 0.0     0.0     0.5   10.2      24.8
59  Belarus                9.3  14.5 0.0     0.0     0.0   23.9      62.9
60  Turkmenistan           5.2  17.8 0.0     0.0     0.0   23.0      57.9
61  Kuwait                19.2  12.1 0.0     0.0     0.0   31.3      87.2
62  Qatar                  8.2  19.0 0.0     0.0     0.0   27.2      69.8
63  Saudi_Arabia         121.8  69.7 0.0     0.0     0.0  191.5     537.6
64  United_Arab_Emirates  21.8  53.2 0.0     0.0     0.0   75.0     191.9
65  Singapore             52.1   8.7 0.0     0.0     0.0   60.8     180.2
    Lat        Long        Cluster
1    35.861660  104.195397 2
2    37.090240  -95.712891 6
3    20.593684   78.962880 2
4    36.204824  138.252924 6
5   -30.559482   22.937506 2
6    61.524010  105.318756 4
7    51.165691   10.451526 6
8    35.907757  127.766922 6
9    51.919438   19.145136 2
10  -25.274398  133.775136 2
11   23.697810  120.960515 6
12   48.379433   31.165580 4
13   48.019573   66.923684 2
14   -0.789275  113.921327 6
15   55.378051   -3.435973 4
16   38.963745   35.243322 2
17   56.130366 -106.346771 5
18   49.817492   15.472962 2
19   15.870032  100.992541 6
20   41.871940   12.567380 6
21  -14.235004  -51.925280 5
22   40.463667   -3.749220 6
23   46.227638    2.213749 3
24   39.074208   21.824312 6
25   52.132633    5.291266 6
26   22.287170  114.150969 6
27   23.634501 -102.552784 6
28   12.879721  121.774017 6
29   42.733883   25.485830 2
30   45.943161   24.966760 4
... ...        ...         ...
36   61.924110  25.748151  6
37   39.399872  -8.224454  6
38   48.669026  19.699024  4
39    4.570868 -74.297333  5
40   47.162494  19.503304  4
41   47.516231  14.550072  5
42  -40.900557 174.885971  5
43   60.128161  18.643501  1
44   41.377491  64.585262  4
45   32.427908  53.688046  4
46   53.412910  -8.243890  6
47  -38.416097 -63.616672  4
48   26.820553  30.802498  4
49   28.033886   1.659626  4
50   -9.189967 -75.015152  5
51   23.684994  90.356331  4
52   60.472024   8.468946  1
53   55.169438  23.881275  3
54   64.963051 -19.020835  1
55   46.818188   8.227512  1
56   -1.831239 -78.183406  5
57    6.423750 -66.589730  5
58   40.143105  47.576927  4
59   53.709807  27.953389  4
60   38.969719  59.556278  4
61   29.311660  47.481766  6
62   25.354826  51.183884  4
63   23.885942  45.079162  6
64   23.424076  53.847818  4
65    1.352083 103.819836  6

Das Entfernen der vier gr√∂√üten Kohlekonsumenten f√ºhrt zu einer Ver√§nderung des Mean um kleiner -70%, w√§hrend der Median fast unver√§ndert bleibt. Entsprechend ist davon auszugehen, dass die vier gr√∂√üten Kohlekonsumenten einen gro√üen Teil des gesamten Kohleknsums ausmachen. Das Dataframe sortiert nach dem Kohlekonsum best√§tigt das.