# Operations on Dataframes

* Author: Johannes Maucher
* Last Update: 2019-10-25, modifications in Tidyverse, data a.o. by OK in 2019
* References:
    * [R in Action, Chapter 4](https://livebook.manning.com/#!/book/r-in-action-second-edition/chapter-4/) [KR15]
    * [R for Data Science, Chapter 5](https://r4ds.had.co.nz/transform.html#introduction-2) [WH19]
* Topics of this notebook
    * attach, remove and modify data in R dataframes
    * sort, merge and filter dataframes
    * find cells with missing values

### Our Starting Point is Tidy Data

A dataset is "tidy" in our context if it satisfies the following conditions

* the observations are in the rows
* the variables or features are in the columns
* and contained in a single dataset.

<html><img src="../img/TidyData1.jpg", width=500></html>
<font size="1">(Imagesource: [WH17])</font>

Tidy data is a one of the prerequisites for good machine learning results. To get tidy data we have to do a lot of things, e.g. data cleaning, feature engineering, selection, 
extraction and so on, which we will discuss in upcoming lectures. The process to transform and mapping the raw data into tidy data format is also known as *data wrangling*. A lot of tidyverse functions also used to achieve tidy data.

### Using of Functions in tidyverse

In this lecture we use intensively the functions of **tidyverse**. 

`Keep in mind:` Most functions of tidyverse **works only with data frames** (the most important data type in R) and **tibbles/tribbles** - a special form of data frames in tidyverse, which we will not use here in these lectures (see [The Trouble with Tibbles](https://www.r-bloggers.com/the-trouble-with-tibbles/)).

In [1]:

library(tidyverse)
glimpse(iris)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.2.0     v purrr   0.3.2
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   0.8.3     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Observations: 150
Variables: 5
$ Sepal.Length <dbl> 5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4,...
$ Sepal.Width  <dbl> 3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7,...
$ Petal.Length <dbl> 1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, 1.5, 1.5,...
$ Petal.Width  <dbl> 0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2,...
$ Species      <fct> setosa, setosa, setosa, setosa, setosa, setosa, setosa...

In [2]:
df <- iris %>% 
        select(Sepal.Length, Species) %>% 
        filter(Sepal.Length > 3.0)

head(df, 10)


#df <- select(iris, Sepal.Length, Species)
#df <- filter(df, Sepal.Length > 3.0)

   Sepal.Length Species
1  5.1          setosa
2  4.9          setosa
3  4.7          setosa
4  4.6          setosa
5  5.0          setosa
6  5.4          setosa
7  4.6          setosa
8  5.0          setosa
9  4.4          setosa
10 4.9          setosa

`Remember:` The symbol **%>%** is to chain functions to a pipe where the first argument of a function will automatically replaced by the data itself. To refer explicit to the data as an argument use the symbol **\.** - a dot, e.g. 

    lm(mpg ~ wt, data = .)

To avoid explicit the automatically replacing of the first argument of a function by the data use the symbol **{...}** or **%\$%** (from package magrittr), e.g. 

    iris %>% {cor(x = .$Sepal.Length, y = .$Sepal.Width)}
    
See [Use pipe without feeding first argument](https://stackoverflow.com/questions/38717657/use-pipe-without-feeding-first-argument).

In [3]:
library(tidyverse)

## Import Example Datasets

### Customer Lifetime Value Data

Example Data: IBM Watson Marketing Customer Value Data [IBM Watson Marketing Customer Value Data](https://www.kaggle.com/pankajjsh06/ibm-watson-marketing-customer-value-data/version/1). The data contain customer data and their vehicle insurance policies. 

`Discussion`: What are a Customer Lifetime Value? Why is it important to know?

Some explanations to the data set:
* Customer: Unique ID
* State
* Customer.Lifetime.Value: <That's the point of interest>
* Response: Did the customer response to ads <That's also a point of interest>
* Coverage: Insurance coverage
* Education
* Effective.To.Date: Valid until
* EmploymentStatus
* Gender
* Income
* Location.Code: Place of living
* Marital.Status
* Monthly.Premium.Auto: Used premium cars
* Months.Since.Last.Claim: Monate seit dem letzten Schadensfall
* Months.Since.Policy.Inception: Monate seit Inkrafttreten des Vertrages
* Number.of.Open.Complaints: Anzahl der offenen Reklamationen
* Number.of.Policies: Number of contracts
* Policy.Type: Most used contract type
* Policy: Most used contract name
* Renew.Offer.Type: Most used renew
* Sales.Channel: Vertriebskanal
* Total.Claim.Amount: Gesamtschadensbetrag
* Vehicle.Class: Most used class of car
* Vehicle.Size: Most used size of car

In [4]:
clvData <- read.csv(file="../data/WA_Fn-UseC_-Marketing-Customer-Value-Analysis.csv", header=TRUE,
                    sep=",", dec=".", stringsAsFactors=FALSE)
dim(clvData)
glimpse(clvData)

[1] 9134   24

Observations: 9,134
Variables: 24
$ Customer                      <chr> "BU79786", "QZ44356", "AI49188", "WW6...
$ State                         <chr> "Washington", "Arizona", "Nevada", "C...
$ Customer.Lifetime.Value       <dbl> 2763.519, 6979.536, 12887.432, 7645.8...
$ Response                      <chr> "No", "No", "No", "No", "No", "Yes", ...
$ Coverage                      <chr> "Basic", "Extended", "Premium", "Basi...
$ Education                     <chr> "Bachelor", "Bachelor", "Bachelor", "...
$ Effective.To.Date             <chr> "2/24/11", "1/31/11", "2/19/11", "1/2...
$ EmploymentStatus              <chr> "Employed", "Unemployed", "Employed",...
$ Gender                        <chr> "F", "F", "F", "M", "M", "F", "F", "M...
$ Income                        <int> 56274, 0, 48767, 0, 43836, 62902, 553...
$ Location.Code                 <chr> "Suburban", "Suburban", "Suburban", "...
$ Marital.Status                <chr> "Married", "Single", "Married", "Marr...
$ Monthly.Premium.Auto          <int> 69, 94, 108, 106, 73, 69, 67, 101, 71...
$ Months.Since.Last.Claim       <int> 32, 13, 18, 18, 12, 14, 0, 0, 13, 17,...
$ Months.Since.Policy.Inception <int> 5, 42, 38, 65, 44, 94, 13, 68, 3, 7, ...
$ Number.of.Open.Complaints     <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2...
$ Number.of.Policies            <int> 1, 8, 2, 7, 1, 2, 9, 4, 2, 8, 3, 3, 3...
$ Policy.Type                   <chr> "Corporate Auto", "Personal Auto", "P...
$ Policy                        <chr> "Corporate L3", "Personal L3", "Perso...
$ Renew.Offer.Type              <chr> "Offer1", "Offer3", "Offer1", "Offer1...
$ Sales.Channel                 <chr> "Agent", "Agent", "Agent", "Call Cent...
$ Total.Claim.Amount            <dbl> 384.81115, 1131.46493, 566.47225, 529...
$ Vehicle.Class                 <chr> "Two-Door Car", "Four-Door Car", "Two...
$ Vehicle.Size                  <chr> "Medsize", "Medsize", "Medsize", "Med...

With [`summary()`](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/summary) we get statistical informations about each variables in the data set.

In [5]:
summary(clvData)
#Look for NA, 1st Qu., 3st Qu. etc.

   Customer            State           Customer.Lifetime.Value
 Length:9134        Length:9134        Min.   : 1898
 Class :character   Class :character   1st Qu.: 3993
 Mode  :character   Mode  :character   Median : 5780
                                       Mean   : 8006
                                       3rd Qu.: 8965
                                       Max.   :83325
                                       NA's   :3
   Response           Coverage          Education         Effective.To.Date
 Length:9134        Length:9134        Length:9134        Length:9134
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 EmploymentStatus      Gender              Income      Location.Code
 Length:9134        Length:9134        Min.   :    0   Length:9134
 Class :character   Class :character   1st Qu.:    0   Class :character
 Mode  :character   Mode  :character   Median :33890   Mode  :character
                                       Mean   :37657
                                       3rd Qu.:62320
                                       Max.   :99981

 Marital.Status     Monthly.Premium.Auto Months.Since.Last.Claim
 Length:9134        Min.   : 61.00       Min.   : 0.0
 Class :character   1st Qu.: 68.00       1st Qu.: 6.0
 Mode  :character   Median : 83.00       Median :14.0
                    Mean   : 93.22       Mean   :15.1
                    3rd Qu.:109.00       3rd Qu.:23.0
                    Max.   :298.00       Max.   :35.0

 Months.Since.Policy.Inception Number.of.Open.Complaints Number.of.Policies
 Min.   : 0.00                 Min.   :0.0000            Min.   :1.000
 1st Qu.:24.00                 1st Qu.:0.0000            1st Qu.:1.000
 Median :48.00                 Median :0.0000            Median :2.000
 Mean   :48.06                 Mean   :0.3844            Mean   :2.966
 3rd Qu.:71.00                 3rd Qu.:0.0000            3rd Qu.:4.000
 Max.   :99.00                 Max.   :5.0000            Max.   :9.000

 Policy.Type           Policy          Renew.Offer.Type   Sales.Channel
 Length:9134        Length:9134        Length:9134        Length:9134
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 Total.Claim.Amount Vehicle.Class      Vehicle.Size
 Min.   :   0.099   Length:9134        Length:9134
 1st Qu.: 272.258   Class :character   Class :character
 Median : 383.945   Mode  :character   Mode  :character
 Mean   : 434.089
 3rd Qu.: 547.515
 Max.   :2893.240

In [6]:

#Check if there are duplicated data
table(duplicated(clvData))

#If yes, we can remove them with 'unique(clvData)'

FALSE
 9134

## Working with missing values

In R missing values are represented by the symbol `NA` ("not available"). For checking if a datastructure contains missing values the `is.na()`-function can be applied. It returns `TRUE` in all fields, where data is missing, otherwise false.

Dealing with missing values is also a **feature engineering** topic that we will discuss in more detail in a upcoming lecture.

In [7]:
age <- c(12, NA, 34, 27)
gender  <- c('m', 'm', 'f', NA)
persons <- data.frame("age"=age, "gender"=gender)
persons

table(is.na(persons))

  age gender
1 12  m
2 NA  m
3 34  f
4 27  NA

FALSE  TRUE
    6     2

In [8]:
anyNA(persons)

is.na(persons)

table(is.na(persons))

[1] TRUE

     age   gender
[1,] FALSE FALSE
[2,]  TRUE FALSE
[3,] FALSE FALSE
[4,] FALSE  TRUE

FALSE  TRUE
    6     2

It is not possible to compare the *NA*-symbol to the value of other variables. E.g. the logical test `clvData$Customer == NA` is never true. In addition to `NA`, there are two other symbols for extraordinary values in R:

* `Inf` and `-Inf` are the symbols for positive and negative infinity, e.g. `1/0`
* `NaN` ("not a number") is the symbol for impossible values e.g. `asin(2)`.

The presence of infinite or impossible values can be checked by the `is.infinite()` and the `is.nan()` - function.

In [9]:
1/0
is.infinite(-3/0)
asin(2)
is.nan(asin(2))

[1] Inf

[1] TRUE

Warning message in asin(2):
"NaNs wurden erzeugt"

[1] NaN

Warning message in asin(2):
"NaNs wurden erzeugt"

[1] TRUE

All rows of a dataframe, which contain missing values can be removed by the `omit()`-function:

In [10]:
na.omit(persons)

  age gender
1 12  m
3 34  f

Remove all rows in dataframe *clvData*, which contain a missing value:

In [11]:
#clvData <- clvData[complete.cases(clvData), ]

clvData <- na.omit(clvData)
dim(clvData)

[1] 9131   24

Functions, which are applied on data with missing values, return `NA`, as shown in the following two lines:

In [12]:
age

sum(age)

mean(age)

[1] 12 NA 34 27

[1] NA

[1] NA

However, nearly all numeric functions have the parameter `na.rm`. If this parameter is set to `TRUE`, all `NA`-elements are ignored in calculating the function, e.g.

In [13]:
sum(age, na.rm=TRUE)
mean(age, na.rm=TRUE)

[1] 73

[1] 24.33333

## Types and type conversion
### Determine type of variables

In [14]:
class(clvData)

[1] "data.frame"

In order to check for a specific variable-type and to convert into a variable type the following functions can be applied:

|      Check      |     Convert     |
|:---------------:|:---------------:|
| is.numeric()    | as.numeric()    |
| is.character()  | as.character()  |
| is.vector()     | as.vector()     |
| is.matrix()     | as.matrix()     |
| is.data.frame() | as.data.frame() |
| is.factor()     | as.factor()     |
| is.logical()    | as.logical()    |

In [15]:
is.data.frame(clvData)
is.numeric(clvData$Customer.Lifetime.Value)
is.vector(clvData$Gender)
is.numeric(clvData$Effective.To.Date)

[1] TRUE

[1] TRUE

[1] TRUE

[1] FALSE

Get columnnames, set rownames and output class (mode) of all variables (columns):

In [16]:
#names(clvData)
colnames(clvData)

#We use the Customer ID as row names
rownames(clvData) <- clvData$Customer

head(clvData, 10)

 [1] "Customer"                      "State"
 [3] "Customer.Lifetime.Value"       "Response"
 [5] "Coverage"                      "Education"
 [7] "Effective.To.Date"             "EmploymentStatus"
 [9] "Gender"                        "Income"
[11] "Location.Code"                 "Marital.Status"
[13] "Monthly.Premium.Auto"          "Months.Since.Last.Claim"
[15] "Months.Since.Policy.Inception" "Number.of.Open.Complaints"
[17] "Number.of.Policies"            "Policy.Type"
[19] "Policy"                        "Renew.Offer.Type"
[21] "Sales.Channel"                 "Total.Claim.Amount"
[23] "Vehicle.Class"                 "Vehicle.Size"

        Customer State      Customer.Lifetime.Value Response Coverage Education
BU79786 BU79786  Washington  2763.519               No       Basic    Bachelor
QZ44356 QZ44356  Arizona     6979.536               No       Extended Bachelor
AI49188 AI49188  Nevada     12887.432               No       Premium  Bachelor
WW63253 WW63253  California  7645.862               No       Basic    Bachelor
HB64268 HB64268  Washington  2813.693               No       Basic    Bachelor
OC83172 OC83172  Oregon      8256.298               Yes      Basic    Bachelor
XZ87318 XZ87318  Oregon      5380.899               Yes      Basic    College
CF85061 CF85061  Arizona     7216.100               No       Premium  Master
DY87989 DY87989  Oregon     24127.504               Yes      Basic    Bachelor
SX51350 SX51350  California  4738.992               No       Basic    College
        Effective.To.Date EmploymentStatus Gender Income ...
BU79786 2/24/11           Employed         F      56274  ...
QZ44356 1/31/11           Unemployed       F          0  ...
AI49188 2/19/11           Employed         F      48767  ...
WW63253 1/20/11           Unemployed       M          0  ...
HB64268 2/3/11            Employed         M      43836  ...
OC83172 1/25/11           Employed         F      62902  ...
XZ87318 2/24/11           Employed         F      55350  ...
CF85061 1/18/11           Unemployed       M          0  ...
DY87989 1/26/11           Medical Leave    M      14072  ...
SX51350 2/21/11           Unemployed       M          0  ...
        Months.Since.Policy.Inception Number.of.Open.Complaints
BU79786  5                            0
QZ44356 42                            0
AI49188 38                            0
WW63253 65                            0
HB64268 44                            0
OC83172 94                            0
XZ87318 13                            0
CF85061 68                            0
DY87989  3                            0
SX51350  5                            0
        Number.of.Policies Policy.Type    Policy       Renew.Offer.Type
BU79786 1                  Corporate Auto Corporate L3 Offer1
QZ44356 8                  Personal Auto  Personal L3  Offer3
AI49188 2                  Personal Auto  Personal L3  Offer1
WW63253 7                  Corporate Auto Corporate L2 Offer1
HB64268 1                  Personal Auto  Personal L1  Offer1
OC83172 2                  Personal Auto  Personal L3  Offer2
XZ87318 9                  Corporate Auto Corporate L3 Offer1
CF85061 4                  Corporate Auto Corporate L3 Offer1
DY87989 2                  Corporate Auto Corporate L3 Offer1
SX51350 3                  Personal Auto  Personal L3  Offer1
        Sales.Channel Total.Claim.Amount Vehicle.Class Vehicle.Size
BU79786 Agent          384.8111          Two-Door Car  Medsize
QZ44356 Agent         1131.4649          Four-Door Car Medsize
AI49188 Agent          566.4722          Two-Door Car  Medsize
WW63253 Call Center    529.8813          SUV           Medsize
HB64268 Agent          138.1309          Four-Door Car Medsize
OC83172 Web            159.3830          Two-Door Car  Medsize
XZ87318 Agent          321.6000          Four-Door Car Medsize
CF85061 Agent          363.0297          Four-Door Car Medsize
DY87989 Agent          511.2000          Four-Door Car Medsize
SX51350 Agent          482.4000          Four-Door Car Small

In [17]:

sapply(clvData, mode)

                     Customer                         State
                  "character"                   "character"
      Customer.Lifetime.Value                      Response
                    "numeric"                   "character"
                     Coverage                     Education
                  "character"                   "character"
            Effective.To.Date              EmploymentStatus
                  "character"                   "character"
                       Gender                        Income
                  "character"                     "numeric"
                Location.Code                Marital.Status
                  "character"                   "character"
         Monthly.Premium.Auto       Months.Since.Last.Claim
                    "numeric"                     "numeric"
Months.Since.Policy.Inception     Number.of.Open.Complaints
                    "numeric"                     "numeric"
           Number.of.Policies                   Policy.Type
                    "numeric"                   "character"
                       Policy              Renew.Offer.Type
                  "character"                   "character"
                Sales.Channel            Total.Claim.Amount
                  "character"                     "numeric"
                Vehicle.Class                  Vehicle.Size
                  "character"                   "character"

### Date objects

In R dates are typically entered as character strings. In this format no calculations can be performed on them. However, the string representation can be transformed into a numeric *Date*-representation by the function *as.Date(datestring,format)*. Here, datestring is the string representation of the date, and format specifies the format of the date in this string-representation. 

| Symbol | Meaning                        | Examples      |
|--------|--------------------------------|---------------|
| %d     | Day as number between 0 and 31 | 7,07,28       |
| %a %A  | Weekday - abbreviated or not   | Mon, Monday   |
| %m     | Month between 0 and 12         | 2,05,11       |
| %b %B  | Month - abbreviated or not     | Feb, February |
| %y %Y  | Year_ two-digit or four-digit  | 09, 2009      |

In [18]:
date1 <- c("5-03-2017")
class(date1)

date1num <- as.Date(date1, "%d-%m-%Y")
class(date1num)

print(date1num)

date2  <- c("17-Jun-23")
date2num  <- as.Date(date2, "%y-%b-%d")
class(date2num)

print(date2num)

[1] "character"

[1] "Date"

[1] "2017-03-05"

[1] "Date"

[1] "2017-06-23"

Determine current date and transformation from *Date*-object to character-string.

In [19]:
now <- Sys.Date()  #Sys.Time()
class(now)
print(now)

nowStr <- format(now, "%d.%B %Y")
class(nowStr)
print(nowStr)

weekDay <- format(now, "%A")
class(weekDay)
print(weekDay)

[1] "Date"

[1] "2019-11-11"

[1] "character"

[1] "11.November 2019"

[1] "character"

[1] "Montag"

Internally, R saves *Date*-objects as numbers of days since *01.01.1970*, with negative values for earlier days. This implies that arithmetic operations such as subtraction can be applied on them:

In [20]:
datediff <- date2num - date1num
datediff

Time difference of 110 days

If the time-difference shall be calculated in other units than days, the *difftime()*-function can be applied as follows:

In [21]:

# units parameter could be "auto", "secs", "mins", "hours", "days" or "weeks"
difftime(date2num, date1num, units="weeks")

Time difference of 15.71429 weeks

In [22]:
clvData$Effective.To.Date <- as.Date(clvData$Effective.To.Date, "%m/%d/%y")

class(clvData$Effective.To.Date)

head(clvData)    #head() gives us the first values

clvData <- na.omit(clvData)
dim(clvData)

[1] "Date"

        Customer State      Customer.Lifetime.Value Response Coverage Education
BU79786 BU79786  Washington  2763.519               No       Basic    Bachelor
QZ44356 QZ44356  Arizona     6979.536               No       Extended Bachelor
AI49188 AI49188  Nevada     12887.432               No       Premium  Bachelor
WW63253 WW63253  California  7645.862               No       Basic    Bachelor
HB64268 HB64268  Washington  2813.693               No       Basic    Bachelor
OC83172 OC83172  Oregon      8256.298               Yes      Basic    Bachelor
        Effective.To.Date EmploymentStatus Gender Income ...
BU79786 2011-02-24        Employed         F      56274  ...
QZ44356 2011-01-31        Unemployed       F          0  ...
AI49188 2011-02-19        Employed         F      48767  ...
WW63253 2011-01-20        Unemployed       M          0  ...
HB64268 2011-02-03        Employed         M      43836  ...
OC83172 2011-01-25        Employed         F      62902  ...
        Months.Since.Policy.Inception Number.of.Open.Complaints
BU79786  5                            0
QZ44356 42                            0
AI49188 38                            0
WW63253 65                            0
HB64268 44                            0
OC83172 94                            0
        Number.of.Policies Policy.Type    Policy       Renew.Offer.Type
BU79786 1                  Corporate Auto Corporate L3 Offer1
QZ44356 8                  Personal Auto  Personal L3  Offer3
AI49188 2                  Personal Auto  Personal L3  Offer1
WW63253 7                  Corporate Auto Corporate L2 Offer1
HB64268 1                  Personal Auto  Personal L1  Offer1
OC83172 2                  Personal Auto  Personal L3  Offer2
        Sales.Channel Total.Claim.Amount Vehicle.Class Vehicle.Size
BU79786 Agent          384.8111          Two-Door Car  Medsize
QZ44356 Agent         1131.4649          Four-Door Car Medsize
AI49188 Agent          566.4722          Two-Door Car  Medsize
WW63253 Call Center    529.8813          SUV           Medsize
HB64268 Agent          138.1309          Four-Door Car Medsize
OC83172 Web            159.3830          Two-Door Car  Medsize

[1] 9129   24

Two new function from **tidyverse** (more exactly from the dplyr package)

* [**mutate()**](https://dplyr.tidyverse.org/reference/mutate.html) to create a new column(s) - see [examples](https://r4ds.had.co.nz/transform.html#add-new-variables-with-mutate)

* [**do()**](https://www.r-bloggers.com/dplyr-do-some-tips-for-using-and-programming/) prevents the automatic insertion of the data (defined by .) at the first position in a pipe (defined by %>%). It is like "whatdata %>% { myfun(arg1, arg2) }". `Keep in mind`, that we can address the data of the pipe by a dot at any position, e.g. "whatdata %>% myfun(arg1, arg2, data = .)".


`Important`: All dplyr methods ignore rownames, so sometimes we have to create an additionally column with the rownames to filter them.

In [23]:
#IMPORTANT: All dplyr methods ignore rownames, so sometimes we have to create an
#additionally column with the rownames to filter them

#----------------------------------------------------------------
create_rownames <- function(tmpData) {
    #Insert a new column "NameOfRow" with the rownames of the data
    newCol <- tmpData %>% do(mutate(., NameOfRow=rownames(.)))
    return(newCol)
}

head(mtcars, 5)  #Here you see the first 5 rows and you see the named rownames

mtcars %>% create_rownames() %>% filter(NameOfRow=="Maserati Bora")

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

  mpg cyl disp hp  drat wt   qsec vs am gear carb NameOfRow
1 15  8   301  335 3.54 3.57 14.6 0  1  5    8    Maserati Bora

## Add/Remove data to/from dataframe

### Add rows

The `rbind()`-function can be applied to add new row(s). This concatenation requires that the two dataframes have the same variables (columnnames).

In [24]:
clvData.tmp <- clvData
#glimpse(clvData.tmp)
newEntry <- list("XX98976","Nevada",2450.190996,"No","Basic","Bachelor",
                 as.Date(c("2011-02-24"), format="%Y-%m-%d"), 
                 "Unemployed","F",0,"Suburban","Single",73,4,44,3,1,"Corporate Auto",
                 "Corporate L3","Offer1","Branch",554.376763,"Four-Door Car","Medsize")

length(newEntry)
length(clvData.tmp[1, ])

[1] 24

[1] 24

In [25]:
clvData.tmp <- rbind(clvData.tmp, newEntry)

#tail(x, n) outputs the last 'n' (default=6) rows of 'x'
tail(clvData.tmp)

        Customer State      Customer.Lifetime.Value Response Coverage Education
LA72316 LA72316  California 23405.988               No       Basic    Bachelor
PK87824 PK87824  California  3096.511               Yes      Extended College
TD14365 TD14365  California  8163.890               No       Extended Bachelor
UP19263 UP19263  California  7524.442               No       Extended College
Y167826 Y167826  California  2611.837               No       Extended College
9130    XX98976  Nevada      2450.191               No       Basic    Bachelor
        Effective.To.Date EmploymentStatus Gender Income ...
LA72316 2011-02-10        Employed         M      71941  ...
PK87824 2011-02-12        Employed         F      21604  ...
TD14365 2011-02-06        Unemployed       M          0  ...
UP19263 2011-02-03        Employed         M      21941  ...
Y167826 2011-02-14        Unemployed       M          0  ...
9130    2011-02-24        Unemployed       F          0  ...
        Months.Since.Policy.Inception Number.of.Open.Complaints
LA72316 89                            0
PK87824 28                            0
TD14365 37                            3
UP19263  3                            0
Y167826 90                            0
9130    44                            3
        Number.of.Policies Policy.Type    Policy       Renew.Offer.Type
LA72316 2                  Personal Auto  Personal L1  Offer2
PK87824 1                  Corporate Auto Corporate L3 Offer1
TD14365 2                  Corporate Auto Corporate L2 Offer1
UP19263 3                  Personal Auto  Personal L2  Offer3
Y167826 1                  Corporate Auto Corporate L3 Offer4
9130    1                  Corporate Auto Corporate L3 Offer1
        Sales.Channel Total.Claim.Amount Vehicle.Class Vehicle.Size
LA72316 Web           198.2348           Four-Door Car Medsize
PK87824 Branch        379.2000           Four-Door Car Medsize
TD14365 Branch        790.7850           Four-Door Car Medsize
UP19263 Branch        691.2000           Four-Door Car Large
Y167826 Call Center   369.6000           Two-Door Car  Medsize
9130    Branch        554.3768           Four-Door Car Medsize

The columns of one dataframe *df2* can be attached to the columns of another dataframe *df1* by applying the `cbind(df1, df2)`-function. This concatenation requires that the two dataframes have the same number of rows and are sorted in the same order.

### Insert row

There are different functions to do that, e.g. [`InsertRow()`](https://www.rdocumentation.org/packages/DataCombine/versions/0.2.21/topics/InsertRow), but we can also realize it with `rbind()` by splitting the data frame at a certain row into two parts, then 'rbind' the first splitted part with the new row and then append the second splitted part.

### Add columns

This case: The new columns are the result of elementwise arithmetic operations on existing columns.

In [26]:
clvDataTmp <- clvData
clvDataTmp <- clvData[clvDataTmp$Income > 0, ]

clvDataTmp <- clvData
clvDataTmp <- clvDataTmp %>% filter(Income > 0)

clvDataTmp$NormCLV <- clvDataTmp$Customer.Lifetime.Value/clvDataTmp$Income
clvDataTmp$LnCustomer.Lifetime.Value <- log(clvDataTmp$Customer.Lifetime.Value)

head(clvDataTmp)

#You see, we got a lot of 'Inf'

  Customer State      Customer.Lifetime.Value Response Coverage Education
1 BU79786  Washington  2763.519               No       Basic    Bachelor
2 AI49188  Nevada     12887.432               No       Premium  Bachelor
3 HB64268  Washington  2813.693               No       Basic    Bachelor
4 OC83172  Oregon      8256.298               Yes      Basic    Bachelor
5 XZ87318  Oregon      5380.899               Yes      Basic    College
6 DY87989  Oregon     24127.504               Yes      Basic    Bachelor
  Effective.To.Date EmploymentStatus Gender Income ... Number.of.Policies
1 2011-02-24        Employed         F      56274  ... 1
2 2011-02-19        Employed         F      48767  ... 2
3 2011-02-03        Employed         M      43836  ... 1
4 2011-01-25        Employed         F      62902  ... 2
5 2011-02-24        Employed         F      55350  ... 9
6 2011-01-26        Medical Leave    M      14072  ... 2
  Policy.Type    Policy       Renew.Offer.Type Sales.Channel Total.Claim.Amount
1 Corporate Auto Corporate L3 Offer1           Agent         384.8111
2 Personal Auto  Personal L3  Offer1           Agent         566.4722
3 Personal Auto  Personal L1  Offer1           Agent         138.1309
4 Personal Auto  Personal L3  Offer2           Web           159.3830
5 Corporate Auto Corporate L3 Offer1           Agent         321.6000
6 Corporate Auto Corporate L3 Offer1           Agent         511.2000
  Vehicle.Class Vehicle.Size NormCLV    LnCustomer.Lifetime.Value
1 Two-Door Car  Medsize      0.04910828  7.924260
2 Two-Door Car  Medsize      0.26426542  9.464008
3 Four-Door Car Medsize      0.06418680  7.942253
4 Two-Door Car  Medsize      0.13125652  9.018732
5 Four-Door Car Medsize      0.09721587  8.590611
6 Four-Door Car Medsize      1.71457533 10.091108

In [27]:
clvDataTmp <- clvData

cat("\n#Tidyverse syntax:\n")
clvDataTmp <- clvDataTmp %>%
        filter(Income > 0) %>%
        mutate(NormCLV = Customer.Lifetime.Value/Income) %>%
        mutate(LnCustomer.Lifetime.Value   = log(Customer.Lifetime.Value)) %>%
        #Look: I can also refer to a column in the pipe
        mutate(TestCLV = NormCLV/10)   

head(clvDataTmp)

#Tidyverse syntax:

  Customer State      Customer.Lifetime.Value Response Coverage Education
1 BU79786  Washington  2763.519               No       Basic    Bachelor
2 AI49188  Nevada     12887.432               No       Premium  Bachelor
3 HB64268  Washington  2813.693               No       Basic    Bachelor
4 OC83172  Oregon      8256.298               Yes      Basic    Bachelor
5 XZ87318  Oregon      5380.899               Yes      Basic    College
6 DY87989  Oregon     24127.504               Yes      Basic    Bachelor
  Effective.To.Date EmploymentStatus Gender Income ... Policy.Type
1 2011-02-24        Employed         F      56274  ... Corporate Auto
2 2011-02-19        Employed         F      48767  ... Personal Auto
3 2011-02-03        Employed         M      43836  ... Personal Auto
4 2011-01-25        Employed         F      62902  ... Personal Auto
5 2011-02-24        Employed         F      55350  ... Corporate Auto
6 2011-01-26        Medical Leave    M      14072  ... Corporate Auto
  Policy       Renew.Offer.Type Sales.Channel Total.Claim.Amount Vehicle.Class
1 Corporate L3 Offer1           Agent         384.8111           Two-Door Car
2 Personal L3  Offer1           Agent         566.4722           Two-Door Car
3 Personal L1  Offer1           Agent         138.1309           Four-Door Car
4 Personal L3  Offer2           Web           159.3830           Two-Door Car
5 Corporate L3 Offer1           Agent         321.6000           Four-Door Car
6 Corporate L3 Offer1           Agent         511.2000           Four-Door Car
  Vehicle.Size NormCLV    LnCustomer.Lifetime.Value TestCLV
1 Medsize      0.04910828  7.924260                 0.004910828
2 Medsize      0.26426542  9.464008                 0.026426542
3 Medsize      0.06418680  7.942253                 0.006418680
4 Medsize      0.13125652  9.018732                 0.013125652
5 Medsize      0.09721587  8.590611                 0.009721587
6 Medsize      1.71457533 10.091108                 0.171457533

This case: The new column is a discretization of an existing column.

Discretization, binning, grouping will be also **feature engineering** topics that we will discuss in more detail in a upcoming section.

In [28]:
#within() allows, that within the curly brackets, 
#the name of the dataframe is not required.
clvData  <-  within(clvData, {                   
    incomeCat  <- NA
    incomeCat[Income < 30000]  <- "Low"
    incomeCat[Income >=30000 & Income < 60000]  <- "Med"
    incomeCat[Income >=60000]  <- "High"
})

anyNA(clvData$incomeCat)
glimpse(clvData)

[1] FALSE

Observations: 9,129
Variables: 25
$ Customer                      <chr> "BU79786", "QZ44356", "AI49188", "WW6...
$ State                         <chr> "Washington", "Arizona", "Nevada", "C...
$ Customer.Lifetime.Value       <dbl> 2763.519, 6979.536, 12887.432, 7645.8...
$ Response                      <chr> "No", "No", "No", "No", "No", "Yes", ...
$ Coverage                      <chr> "Basic", "Extended", "Premium", "Basi...
$ Education                     <chr> "Bachelor", "Bachelor", "Bachelor", "...
$ Effective.To.Date             <date> 2011-02-24, 2011-01-31, 2011-02-19, ...
$ EmploymentStatus              <chr> "Employed", "Unemployed", "Employed",...
$ Gender                        <chr> "F", "F", "F", "M", "M", "F", "F", "M...
$ Income                        <int> 56274, 0, 48767, 0, 43836, 62902, 553...
$ Location.Code                 <chr> "Suburban", "Suburban", "Suburban", "...
$ Marital.Status                <chr> "Married", "Single", "Married", "Marr...
$ Monthly.Premium.Auto          <int> 69, 94, 108, 106, 73, 69, 67, 101, 71...
$ Months.Since.Last.Claim       <int> 32, 13, 18, 18, 12, 14, 0, 0, 13, 23,...
$ Months.Since.Policy.Inception <int> 5, 42, 38, 65, 44, 94, 13, 68, 3, 5, ...
$ Number.of.Open.Complaints     <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 1...
$ Number.of.Policies            <int> 1, 8, 2, 7, 1, 2, 9, 4, 2, 3, 3, 3, 8...
$ Policy.Type                   <chr> "Corporate Auto", "Personal Auto", "P...
$ Policy                        <chr> "Corporate L3", "Personal L3", "Perso...
$ Renew.Offer.Type              <chr> "Offer1", "Offer3", "Offer1", "Offer1...
$ Sales.Channel                 <chr> "Agent", "Agent", "Agent", "Call Cent...
$ Total.Claim.Amount            <dbl> 384.81115, 1131.46493, 566.47225, 529...
$ Vehicle.Class                 <chr> "Two-Door Car", "Four-Door Car", "Two...
$ Vehicle.Size                  <chr> "Medsize", "Medsize", "Medsize", "Med...
$ incomeCat                     <chr> "Med", "Low", "Med", "Low", "Med", "H...

## Transpose Dataframe

In [29]:
clvDataTmp <- clvData[1:100, ]  #Otherwise it is to huge


clvDataTmpT <- t(clvDataTmp)
head(clvDataTmpT)

                        BU79786    QZ44356   AI49188   WW63253    HB64268
Customer                BU79786    QZ44356   AI49188   WW63253    HB64268
State                   Washington Arizona   Nevada    California Washington
Customer.Lifetime.Value  2763.519   6979.536 12887.432  7645.862   2813.693
Response                No         No        No        No         No
Coverage                Basic      Extended  Premium   Basic      Basic
Education               Bachelor   Bachelor  Bachelor  Bachelor   Bachelor
                        OC83172   XZ87318   CF85061   DY87989   SX51350    ...
Customer                OC83172   XZ87318   CF85061   DY87989   SX51350    ...
State                   Oregon    Oregon    Arizona   Oregon    California ...
Customer.Lifetime.Value  8256.298  5380.899  7216.100 24127.504  4738.992  ...
Response                Yes       Yes       No        Yes       No         ...
Coverage                Basic     Basic     Premium   Basic     Basic      ...
Education               Bachelor  College   Master    Bachelor  College    ...
                        TV87155   KH48895   NZ30757    RI22468   FZ30935
Customer                TV87155   KH48895   NZ30757    RI22468   FZ30935
State                   Oregon    Arizona   California Arizona   Oregon
Customer.Lifetime.Value 20946.193  8375.354  4801.662   5745.943  6066.116
Response                No        No        No         No        No
Coverage                Basic     Basic     Basic      Basic     Extended
Education               Bachelor  Master    Bachelor   Bachelor  College
                        UG93476    AB96670    XK64261   EV68375
Customer                UG93476    AB96670    XK64261   EV68375
State                   California California Oregon    California
Customer.Lifetime.Value  8002.308   2393.915   4762.818  4330.386
Response                Yes        Yes        No        Yes
Coverage                Basic      Basic      Basic     Premium
Education               College    College    Bachelor  College
                        UN51653
Customer                UN51653
State                   California
Customer.Lifetime.Value  9402.730
Response                No
Coverage                Extended
Education               High School or Below

In [30]:
clvDataTmp <- clvData[1:100, ]  #Otherwise it is to huge

#in Tidyverse syntax
clvDataTmpT <- clvDataTmp %>% t()     

head(clvDataTmpT)

                        BU79786    QZ44356   AI49188   WW63253    HB64268
Customer                BU79786    QZ44356   AI49188   WW63253    HB64268
State                   Washington Arizona   Nevada    California Washington
Customer.Lifetime.Value  2763.519   6979.536 12887.432  7645.862   2813.693
Response                No         No        No        No         No
Coverage                Basic      Extended  Premium   Basic      Basic
Education               Bachelor   Bachelor  Bachelor  Bachelor   Bachelor
                        OC83172   XZ87318   CF85061   DY87989   SX51350    ...
Customer                OC83172   XZ87318   CF85061   DY87989   SX51350    ...
State                   Oregon    Oregon    Arizona   Oregon    California ...
Customer.Lifetime.Value  8256.298  5380.899  7216.100 24127.504  4738.992  ...
Response                Yes       Yes       No        Yes       No         ...
Coverage                Basic     Basic     Premium   Basic     Basic      ...
Education               Bachelor  College   Master    Bachelor  College    ...
                        TV87155   KH48895   NZ30757    RI22468   FZ30935
Customer                TV87155   KH48895   NZ30757    RI22468   FZ30935
State                   Oregon    Arizona   California Arizona   Oregon
Customer.Lifetime.Value 20946.193  8375.354  4801.662   5745.943  6066.116
Response                No        No        No         No        No
Coverage                Basic     Basic     Basic      Basic     Extended
Education               Bachelor  Master    Bachelor   Bachelor  College
                        UG93476    AB96670    XK64261   EV68375
Customer                UG93476    AB96670    XK64261   EV68375
State                   California California Oregon    California
Customer.Lifetime.Value  8002.308   2393.915   4762.818  4330.386
Response                Yes        Yes        No        Yes
Coverage                Basic      Basic      Basic     Premium
Education               College    College    Bachelor  College
                        UN51653
Customer                UN51653
State                   California
Customer.Lifetime.Value  9402.730
Response                No
Coverage                Extended
Education               High School or Below

## Merge Dataframes

Dataframes can be joined by one or more key variables by applying the [`merge()`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/merge.html)-function.

In [31]:
Id1 <- c(1, 2, 3, 4)
age <- c(12, 21, 34, 27)
gender  <- c('m', 'm', 'f', 'f')

persons <- data.frame(ID=Id1, AGE=age, GENDER=gender)
persons

  ID AGE GENDER
1 1  12  m
2 2  21  m
3 3  34  f
4 4  27  f

In [32]:
Id2 <- c(2, 3, 4, 5)
names <- c("peter", "mary", "betty", "ben")

personNames <- data.frame(ID=Id2, NAMES=names)
personNames

  ID NAMES
1 2  peter
2 3  mary
3 4  betty
4 5  ben

The arguments `all`, `all.x` and `all.y` of the `merge(x,y,all,all.x,all.y,by)`- function can be set in order to configure the type of join: 
* Inner Join: `all=FALSE` (default)
* Outer Join: `all=TRUE`
* Left (outer) join: `all.x=TRUE`
* Right (outer) join: `all.y=TRUE`

The different joins are demonstrated in the following code-cells:


**Inner Join** merge only data rows from 'x' and 'y' with identical 'by'.

In [33]:
persons
personNames
NamedPersons <- merge(persons, personNames, by="ID")
NamedPersons

  ID AGE GENDER
1 1  12  m
2 2  21  m
3 3  34  f
4 4  27  f

  ID NAMES
1 2  peter
2 3  mary
3 4  betty
4 5  ben

  ID AGE GENDER NAMES
1 2  21  m      peter
2 3  34  f      mary
3 4  27  f      betty

**Left (outer) join** merge all data rows from 'x' and fill 'y' columns with not identical 'by' value with 'NA'.

In [34]:
persons
personNames
NamedPersons <- merge(persons, personNames, by="ID", all.x=TRUE)
NamedPersons

  ID AGE GENDER
1 1  12  m
2 2  21  m
3 3  34  f
4 4  27  f

  ID NAMES
1 2  peter
2 3  mary
3 4  betty
4 5  ben

  ID AGE GENDER NAMES
1 1  12  m      NA
2 2  21  m      peter
3 3  34  f      mary
4 4  27  f      betty

**Right (outer) join** merge all data rows from 'y' and fill 'x' columns with not identical 'by' value with 'NA'.

In [35]:
persons
personNames
NamedPersons <- merge(persons, personNames, by="ID", all.y=TRUE)
NamedPersons

  ID AGE GENDER
1 1  12  m
2 2  21  m
3 3  34  f
4 4  27  f

  ID NAMES
1 2  peter
2 3  mary
3 4  betty
4 5  ben

  ID AGE GENDER NAMES
1 2  21  m      peter
2 3  34  f      mary
3 4  27  f      betty
4 5  NA  NA     ben

**Outer join** merge all data rows from 'x' and 'y' and fill columns with not identical 'by' value with 'NA'.

In [36]:
persons
personNames
NamedPersons <- merge(persons, personNames, by="ID", all=TRUE)
NamedPersons

  ID AGE GENDER
1 1  12  m
2 2  21  m
3 3  34  f
4 4  27  f

  ID NAMES
1 2  peter
2 3  mary
3 4  betty
4 5  ben

  ID AGE GENDER NAMES
1 1  12  m      NA
2 2  21  m      peter
3 3  34  f      mary
4 4  27  f      betty
5 5  NA  NA     ben

## Gathering and Spreading of Dataframes

In many real cases, the data we get are untidy and we have to transform the data into tidy data. Two main problems occur many times:

**First problem**: A variable is spread across multiple columns. Using [`gather()`](https://tidyr.tidyverse.org/reference/gather.html) (see also [examples](https://r4ds.had.co.nz/tidy-data.html#spreading-and-gathering)) help to solve that problem.

`Keep in mind:` the **tidyr** package of tidyverse is a replacement for the reshape/reshape2 packages. New functions `gather()` and `spread()` are the substitutes for `reshape2::melt()` and `reshape2::cast()`.

In [37]:
# newname = oldname from dplyr package
# Keep in mind: in package reshape is also a 'rename()'' function
rename <- dplyr::rename

clvDataTMP <- clvData %>%
    select(Customer, Effective.To.Date, 
           Months.Since.Last.Claim, Months.Since.Policy.Inception) %>%
    rename(Num2015 = Months.Since.Last.Claim, 
           Num2016 = Months.Since.Policy.Inception) %>%   # That's an artifical and senseless data, but good to demonstrate
    filter(row_number() <= 5)                  # Use only first 5 rows

clvDataTMP

  Customer Effective.To.Date Num2015 Num2016
1 BU79786  2011-02-24        32       5
2 QZ44356  2011-01-31        13      42
3 AI49188  2011-02-19        18      38
4 WW63253  2011-01-20        18      65
5 HB64268  2011-02-03        12      44

In [38]:
head(clvDataTMP, 5)

clvDataGATHER <- clvDataTMP %>% 
  gather(Num2015, Num2016, key = "year", value = "Months.Since.Last.Anything")

clvDataGATHER

#Look at the outputs above and below: You see that 'key' below contains 
#the names of the former columns Num2015 and Num2016 and 
#'Months.Since.Last.Anything' below contains
#the values of the former columns 'Months.Since.Last.Claim' and 
#'Months.Since.Policy.Inception'

  Customer Effective.To.Date Num2015 Num2016
1 BU79786  2011-02-24        32       5
2 QZ44356  2011-01-31        13      42
3 AI49188  2011-02-19        18      38
4 WW63253  2011-01-20        18      65
5 HB64268  2011-02-03        12      44

   Customer Effective.To.Date year    Months.Since.Last.Anything
1  BU79786  2011-02-24        Num2015 32
2  QZ44356  2011-01-31        Num2015 13
3  AI49188  2011-02-19        Num2015 18
4  WW63253  2011-01-20        Num2015 18
5  HB64268  2011-02-03        Num2015 12
6  BU79786  2011-02-24        Num2016  5
7  QZ44356  2011-01-31        Num2016 42
8  AI49188  2011-02-19        Num2016 38
9  WW63253  2011-01-20        Num2016 65
10 HB64268  2011-02-03        Num2016 44

**Second problem**: An observation is distributed across multiple rows. Using [`spread()`](https://tidyr.tidyverse.org/reference/spread.html) (see also [examples](https://r4ds.had.co.nz/tidy-data.html#spreading-and-gathering)) help to solve that problem.

In [39]:
clvDataGATHER

clvDataSPREAD <- clvDataGATHER %>% 
      spread(key = year, value = Months.Since.Last.Anything) #%>%
      #rename(Months.Since.Last.Claim = Num2015, 
      #       Months.Since.Policy.Inception = Num2016)


clvDataSPREAD

#Look at the outputs above and below: You see that the columns
#'Months.Since.Last.Claim' and 'Months.Since.Policy.Inception' 
#below now contain the according values from the former 
#'key' and 'Months.Since.Last.Anything' columns pairs

   Customer Effective.To.Date year    Months.Since.Last.Anything
1  BU79786  2011-02-24        Num2015 32
2  QZ44356  2011-01-31        Num2015 13
3  AI49188  2011-02-19        Num2015 18
4  WW63253  2011-01-20        Num2015 18
5  HB64268  2011-02-03        Num2015 12
6  BU79786  2011-02-24        Num2016  5
7  QZ44356  2011-01-31        Num2016 42
8  AI49188  2011-02-19        Num2016 38
9  WW63253  2011-01-20        Num2016 65
10 HB64268  2011-02-03        Num2016 44

  Customer Effective.To.Date Num2015 Num2016
1 AI49188  2011-02-19        18      38
2 BU79786  2011-02-24        32       5
3 HB64268  2011-02-03        12      44
4 QZ44356  2011-01-31        13      42
5 WW63253  2011-01-20        18      65

## Filter by value

Determine subset of rows, e.g.:

In [40]:
head(clvData[(clvData$Months.Since.Last.Claim > 10) & 
        (clvData$Months.Since.Policy.Inception > 7 | clvData$Number.of.Policies > 2),])

        Customer State      Customer.Lifetime.Value Response Coverage Education
QZ44356 QZ44356  Arizona     6979.536               No       Extended Bachelor
AI49188 AI49188  Nevada     12887.432               No       Premium  Bachelor
WW63253 WW63253  California  7645.862               No       Basic    Bachelor
HB64268 HB64268  Washington  2813.693               No       Basic    Bachelor
OC83172 OC83172  Oregon      8256.298               Yes      Basic    Bachelor
SX51350 SX51350  California  4738.992               No       Basic    College
        Effective.To.Date EmploymentStatus Gender Income ...
QZ44356 2011-01-31        Unemployed       F          0  ...
AI49188 2011-02-19        Employed         F      48767  ...
WW63253 2011-01-20        Unemployed       M          0  ...
HB64268 2011-02-03        Employed         M      43836  ...
OC83172 2011-01-25        Employed         F      62902  ...
SX51350 2011-02-21        Unemployed       M          0  ...
        Number.of.Open.Complaints Number.of.Policies Policy.Type
QZ44356 0                         8                  Personal Auto
AI49188 0                         2                  Personal Auto
WW63253 0                         7                  Corporate Auto
HB64268 0                         1                  Personal Auto
OC83172 0                         2                  Personal Auto
SX51350 0                         3                  Personal Auto
        Policy       Renew.Offer.Type Sales.Channel Total.Claim.Amount
QZ44356 Personal L3  Offer3           Agent         1131.4649
AI49188 Personal L3  Offer1           Agent          566.4722
WW63253 Corporate L2 Offer1           Call Center    529.8813
HB64268 Personal L1  Offer1           Agent          138.1309
OC83172 Personal L3  Offer2           Web            159.3830
SX51350 Personal L3  Offer1           Agent          482.4000
        Vehicle.Class Vehicle.Size incomeCat
QZ44356 Four-Door Car Medsize      Low
AI49188 Two-Door Car  Medsize      Med
WW63253 SUV           Medsize      Low
HB64268 Four-Door Car Medsize      Med
OC83172 Two-Door Car  Medsize      High
SX51350 Four-Door Car Small        Low

In [41]:
cat("\n#Tidyverse syntax:\n")
clvData %>%
    filter(Months.Since.Last.Claim > 10, 
           Months.Since.Policy.Inception > 7 | Number.of.Policies > 2) %>%
    do(head(.))

#Tidyverse syntax:

  Customer State      Customer.Lifetime.Value Response Coverage Education
1 QZ44356  Arizona     6979.536               No       Extended Bachelor
2 AI49188  Nevada     12887.432               No       Premium  Bachelor
3 WW63253  California  7645.862               No       Basic    Bachelor
4 HB64268  Washington  2813.693               No       Basic    Bachelor
5 OC83172  Oregon      8256.298               Yes      Basic    Bachelor
6 SX51350  California  4738.992               No       Basic    College
  Effective.To.Date EmploymentStatus Gender Income ...
1 2011-01-31        Unemployed       F          0  ...
2 2011-02-19        Employed         F      48767  ...
3 2011-01-20        Unemployed       M          0  ...
4 2011-02-03        Employed         M      43836  ...
5 2011-01-25        Employed         F      62902  ...
6 2011-02-21        Unemployed       M          0  ...
  Number.of.Open.Complaints Number.of.Policies Policy.Type    Policy
1 0                         8                  Personal Auto  Personal L3
2 0                         2                  Personal Auto  Personal L3
3 0                         7                  Corporate Auto Corporate L2
4 0                         1                  Personal Auto  Personal L1
5 0                         2                  Personal Auto  Personal L3
6 0                         3                  Personal Auto  Personal L3
  Renew.Offer.Type Sales.Channel Total.Claim.Amount Vehicle.Class Vehicle.Size
1 Offer3           Agent         1131.4649          Four-Door Car Medsize
2 Offer1           Agent          566.4722          Two-Door Car  Medsize
3 Offer1           Call Center    529.8813          SUV           Medsize
4 Offer1           Agent          138.1309          Four-Door Car Medsize
5 Offer2           Web            159.3830          Two-Door Car  Medsize
6 Offer1           Agent          482.4000          Four-Door Car Small
  incomeCat
1 Low
2 Med
3 Low
4 Med
5 High
6 Low


Next, we see a new function called

* [`replace('col', 'cond', 'value')`](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/replace) replaces 'col'-column with 'value' for all rows which condition 'cond' is true

For example: clip all *Income*-values *>90000* to *90000*:

In [42]:
clvDataTmp <- clvData

cat("row number before:", nrow(clvDataTmp[clvDataTmp$Income > 90000,]),"\n")

clvDataTmp$Income[clvDataTmp$Income > 90000]  <- 90000

cat("row number after:", nrow(clvDataTmp[clvDataTmp$Income > 90000,]),"\n")

row number before: 479
row number after: 0

In [43]:
cat("\n#Tidyverse syntax:\n")
clvDataTmp <- clvData

cat("row number before:","\n")
clvDataTmp %>% 
  filter(Income > 90000) %>% 
  nrow()

clvDataTmp <- clvDataTmp %>%
     mutate(Income = replace(Income, Income>90000, 90000)) 

cat("row number after:","\n")
clvDataTmp %>% 
  filter(Income > 90000) %>% 
  nrow()

#Tidyverse syntax:
row number before:

[1] 479

row number after:

[1] 0

### Filter by date

In [44]:
startdate <- as.Date("2/22/11", format="%m/%d/%y")
enddate <- as.Date("4/19/11", format="%m/%d/%y")

clvDataSub <- clvData[clvData$Effective.To.Date > startdate & 
                      clvData$Effective.To.Date < enddate,]

dim(clvDataSub)

[1] 928  25

In [45]:
cat("\n#Tidyverse syntax:\n")
clvDataSub <- clvData %>%
     filter(Effective.To.Date > startdate, 
            Effective.To.Date < enddate) #Keep in mind: a comma means logical 'and'

dim(clvDataSub)

#Tidyverse syntax:

[1] 928  25

### Filter by [`subset()`](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/subset)-function

In [46]:
clvData.tmp <- subset(clvData, Months.Since.Last.Claim > 200 | 
                   Months.Since.Policy.Inception > 98, 
                   select=c(Effective.To.Date, 
                            Months.Since.Last.Claim, Months.Since.Policy.Inception))
dim(clvData.tmp)
head(clvData.tmp)

[1] 78  3

        Effective.To.Date Months.Since.Last.Claim Months.Since.Policy.Inception
TQ13499 2011-01-02        32                      99
LP45550 2011-01-15        30                      99
DE55857 2011-01-30         7                      99
ZF40671 2011-02-09        24                      99
TJ20375 2011-01-09         5                      99
GL20444 2011-01-04         9                      99

In [47]:
cat("\n#Tidyverse syntax:\n")
clvData.tmp <- clvData %>%
     filter(Months.Since.Last.Claim > 200 | Months.Since.Policy.Inception > 98) %>%
     select(Effective.To.Date, 
            Months.Since.Last.Claim, Months.Since.Policy.Inception)

dim(clvData.tmp)
head(clvData.tmp)

#Tidyverse syntax:

[1] 78  3

  Effective.To.Date Months.Since.Last.Claim Months.Since.Policy.Inception
1 2011-01-02        32                      99
2 2011-01-15        30                      99
3 2011-01-30         7                      99
4 2011-02-09        24                      99
5 2011-01-09         5                      99
6 2011-01-04         9                      99

### Filter by factor

In [48]:

clvData.tmp <- clvData
clvData.tmp$Vehicle.Size <- as.factor(clvData.tmp$Vehicle.Size)
class(clvData.tmp$Vehicle.Size)

#glimpse(clvData.tmp)
levels(clvData.tmp$Vehicle.Size)

#str(clvData.tmp$Vehicle.Size)

clvData.tmp <- clvData.tmp %>% 
                        filter(Vehicle.Size == "High" | Vehicle.Size == "Med") %>%
                        select(Customer, Vehicle.Size, Income)

dim(clvData.tmp)
head(clvData.tmp)

[1] "factor"

[1] "Large"   "Medsize" "Small"

[1] 0 3

     Customer Vehicle.Size Income

## Rename column

In [49]:
clvDataTmp <- clvData

names(clvDataTmp)
names(clvDataTmp)[7] <- "Date"
names(clvDataTmp)

 [1] "Customer"                      "State"
 [3] "Customer.Lifetime.Value"       "Response"
 [5] "Coverage"                      "Education"
 [7] "Effective.To.Date"             "EmploymentStatus"
 [9] "Gender"                        "Income"
[11] "Location.Code"                 "Marital.Status"
[13] "Monthly.Premium.Auto"          "Months.Since.Last.Claim"
[15] "Months.Since.Policy.Inception" "Number.of.Open.Complaints"
[17] "Number.of.Policies"            "Policy.Type"
[19] "Policy"                        "Renew.Offer.Type"
[21] "Sales.Channel"                 "Total.Claim.Amount"
[23] "Vehicle.Class"                 "Vehicle.Size"
[25] "incomeCat"

 [1] "Customer"                      "State"
 [3] "Customer.Lifetime.Value"       "Response"
 [5] "Coverage"                      "Education"
 [7] "Date"                          "EmploymentStatus"
 [9] "Gender"                        "Income"
[11] "Location.Code"                 "Marital.Status"
[13] "Monthly.Premium.Auto"          "Months.Since.Last.Claim"
[15] "Months.Since.Policy.Inception" "Number.of.Open.Complaints"
[17] "Number.of.Policies"            "Policy.Type"
[19] "Policy"                        "Renew.Offer.Type"
[21] "Sales.Channel"                 "Total.Claim.Amount"
[23] "Vehicle.Class"                 "Vehicle.Size"
[25] "incomeCat"

In [50]:
clvDataTmp <- clvData

cat("\n#Tidyverse syntax:\n")
names(clvDataTmp)

clvDataTmp <- clvDataTmp %>%
     # newname = oldname from dplyr package
     # Keep in mind: package reshape has also a rename() function
     rename(Date = Effective.To.Date)   

names(clvDataTmp)

#Tidyverse syntax:

 [1] "Customer"                      "State"
 [3] "Customer.Lifetime.Value"       "Response"
 [5] "Coverage"                      "Education"
 [7] "Effective.To.Date"             "EmploymentStatus"
 [9] "Gender"                        "Income"
[11] "Location.Code"                 "Marital.Status"
[13] "Monthly.Premium.Auto"          "Months.Since.Last.Claim"
[15] "Months.Since.Policy.Inception" "Number.of.Open.Complaints"
[17] "Number.of.Policies"            "Policy.Type"
[19] "Policy"                        "Renew.Offer.Type"
[21] "Sales.Channel"                 "Total.Claim.Amount"
[23] "Vehicle.Class"                 "Vehicle.Size"
[25] "incomeCat"

 [1] "Customer"                      "State"
 [3] "Customer.Lifetime.Value"       "Response"
 [5] "Coverage"                      "Education"
 [7] "Date"                          "EmploymentStatus"
 [9] "Gender"                        "Income"
[11] "Location.Code"                 "Marital.Status"
[13] "Monthly.Premium.Auto"          "Months.Since.Last.Claim"
[15] "Months.Since.Policy.Inception" "Number.of.Open.Complaints"
[17] "Number.of.Policies"            "Policy.Type"
[19] "Policy"                        "Renew.Offer.Type"
[21] "Sales.Channel"                 "Total.Claim.Amount"
[23] "Vehicle.Class"                 "Vehicle.Size"
[25] "incomeCat"

## Sort Data

In R, data can be sorted in various ways using the function [`order()`](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/order). For example, the dataframe *clvData* is not ordered after the addition of an additional row, as can be seen in the following display of the dataframe's tail. We can sort a numeric value in decreasing order by using a minus sign ( – ) in front of the variable.

In [51]:
clvDataTMP <- clvData[order(clvData$Customer),]
head(clvDataTMP)

        Customer State      Customer.Lifetime.Value Response Coverage
AA10041 AA10041  California  7901.744               No       Basic
AA11235 AA11235  Nevada      2568.843               No       Basic
AA16582 AA16582  Washington 24127.504               Yes      Basic
AA30683 AA30683  California  6595.102               No       Premium
AA34092 AA34092  California 28799.954               No       Extended
AA35519 AA35519  Arizona     8002.308               Yes      Basic
        Education            Effective.To.Date EmploymentStatus Gender Income
AA10041 High School or Below 2011-02-02        Unemployed       M          0
AA11235 Bachelor             2011-01-28        Medical Leave    F      11167
AA16582 Bachelor             2011-01-26        Medical Leave    M      14072
AA30683 Bachelor             2011-01-15        Unemployed       M          0
AA34092 College              2011-02-11        Employed         M      33635
AA35519 College              2011-01-11        Unemployed       F          0
        ... Number.of.Open.Complaints Number.of.Policies Policy.Type
AA10041 ... 0                         5                  Personal Auto
AA11235 ... 3                         1                  Personal Auto
AA16582 ... 0                         2                  Personal Auto
AA30683 ... 2                         7                  Personal Auto
AA34092 ... 0                         2                  Personal Auto
AA35519 ... 0                         3                  Personal Auto
        Policy      Renew.Offer.Type Sales.Channel Total.Claim.Amount
AA10041 Personal L3 Offer1           Call Center   1258.3278
AA11235 Personal L3 Offer2           Branch         350.4000
AA16582 Personal L2 Offer1           Agent          511.2000
AA30683 Personal L3 Offer1           Web            847.7174
AA34092 Personal L3 Offer1           Web           1152.0000
AA35519 Personal L2 Offer1           Agent          513.6000
        Vehicle.Class Vehicle.Size incomeCat
AA10041 SUV           Medsize      Low
AA11235 Two-Door Car  Medsize      Low
AA16582 Four-Door Car Medsize      Low
AA30683 Four-Door Car Medsize      Low
AA34092 Luxury SUV    Medsize      Med
AA35519 SUV           Medsize      Low

In [52]:
#Look at the minus sign
clvDataTMP <- clvData[order(-clvData$Customer.Lifetime.Value),]
head(clvDataTMP)

        Customer State      Customer.Lifetime.Value Response Coverage
FQ61281 FQ61281  Oregon     83325.38                No       Extended
YC54142 YC54142  Washington 74228.52                No       Extended
BP23267 BP23267  California 73225.96                No       Extended
KH55886 KH55886  Oregon     67907.27                No       Premium
SK66747 SK66747  Washington 66025.75                No       Basic
FB95288 FB95288  California 64618.76                No       Extended
        Education            Effective.To.Date EmploymentStatus Gender Income
FQ61281 High School or Below 2011-01-31        Employed         M      58958
YC54142 High School or Below 2011-01-26        Unemployed       M          0
BP23267 Bachelor             2011-02-09        Employed         F      39547
KH55886 Bachelor             2011-02-05        Employed         M      78310
SK66747 Bachelor             2011-02-22        Employed         M      33481
FB95288 High School or Below 2011-01-17        Unemployed       M          0
        ... Number.of.Open.Complaints Number.of.Policies Policy.Type
FQ61281 ... 0                         2                  Personal Auto
YC54142 ... 0                         2                  Personal Auto
BP23267 ... 0                         2                  Personal Auto
KH55886 ... 1                         2                  Personal Auto
SK66747 ... 0                         2                  Personal Auto
FB95288 ... 1                         2                  Personal Auto
        Policy      Renew.Offer.Type Sales.Channel Total.Claim.Amount
FQ61281 Personal L3 Offer1           Call Center   1108.8000
YC54142 Personal L1 Offer1           Branch        1742.4000
BP23267 Personal L3 Offer1           Branch         969.6000
KH55886 Personal L1 Offer1           Agent          151.7115
SK66747 Personal L3 Offer1           Agent         1194.8920
FB95288 Personal L3 Offer1           Branch        1562.4000
        Vehicle.Class Vehicle.Size incomeCat
FQ61281 Luxury Car    Small        Med
YC54142 Luxury Car    Medsize      Low
BP23267 Luxury SUV    Medsize      Med
KH55886 Sports Car    Medsize      High
SK66747 Luxury SUV    Medsize      Med
FB95288 Luxury Car    Small        Low

A new function from **tidyverse** (more exactly from the dplyr package)
* [`arrange()`](https://dplyr.tidyverse.org/reference/arrange.html) to order rows - see  [examples](https://r4ds.had.co.nz/transform.html#arrange-rows-with-arrange)


The following line shows how the unordered dataframe can be ordered according to increasing 'Customer'. For decreasing we can use 'desc(Customer)':

In [53]:
cat("\n#Tidyverse syntax:\n")
clvDataTMP <- clvData %>%
    arrange(Customer)

clvDataTMP <- clvData %>%
    arrange(desc(Customer.Lifetime.Value))

head(clvDataTMP)

#Tidyverse syntax:

  Customer State      Customer.Lifetime.Value Response Coverage
1 FQ61281  Oregon     83325.38                No       Extended
2 YC54142  Washington 74228.52                No       Extended
3 BP23267  California 73225.96                No       Extended
4 KH55886  Oregon     67907.27                No       Premium
5 SK66747  Washington 66025.75                No       Basic
6 FB95288  California 64618.76                No       Extended
  Education            Effective.To.Date EmploymentStatus Gender Income ...
1 High School or Below 2011-01-31        Employed         M      58958  ...
2 High School or Below 2011-01-26        Unemployed       M          0  ...
3 Bachelor             2011-02-09        Employed         F      39547  ...
4 Bachelor             2011-02-05        Employed         M      78310  ...
5 Bachelor             2011-02-22        Employed         M      33481  ...
6 High School or Below 2011-01-17        Unemployed       M          0  ...
  Number.of.Open.Complaints Number.of.Policies Policy.Type   Policy
1 0                         2                  Personal Auto Personal L3
2 0                         2                  Personal Auto Personal L1
3 0                         2                  Personal Auto Personal L3
4 1                         2                  Personal Auto Personal L1
5 0                         2                  Personal Auto Personal L3
6 1                         2                  Personal Auto Personal L3
  Renew.Offer.Type Sales.Channel Total.Claim.Amount Vehicle.Class Vehicle.Size
1 Offer1           Call Center   1108.8000          Luxury Car    Small
2 Offer1           Branch        1742.4000          Luxury Car    Medsize
3 Offer1           Branch         969.6000          Luxury SUV    Medsize
4 Offer1           Agent          151.7115          Sports Car    Medsize
5 Offer1           Agent         1194.8920          Luxury SUV    Medsize
6 Offer1           Branch        1562.4000          Luxury Car    Small
  incomeCat
1 Med
2 Low
3 Med
4 High
5 Med
6 Low

Sorting can even be applied with respect to more than one variable. E.g. *clvData* can be sorted first according to the *Vehicle.Size* parameter and then according to *Income*:

In [54]:
clvDataByCat <- clvData[order(clvData$Vehicle.Size, clvData$Income),]
head(clvDataByCat)

        Customer State      Customer.Lifetime.Value Response Coverage
WB37082 WB37082  Arizona    6613.974                No       Basic
GW33762 GW33762  Oregon     6846.150                Yes      Extended
ZU35962 ZU35962  California 8025.229                No       Extended
DS81757 DS81757  Oregon     2470.121                No       Basic
LM19287 LM19287  Oregon     3731.505                Yes      Extended
EK59571 EK59571  Oregon     3885.456                Yes      Premium
        Education            Effective.To.Date EmploymentStatus Gender Income
WB37082 Bachelor             2011-01-23        Unemployed       F      0
GW33762 Bachelor             2011-01-27        Unemployed       F      0
ZU35962 College              2011-01-26        Unemployed       F      0
DS81757 College              2011-01-09        Unemployed       M      0
LM19287 High School or Below 2011-02-24        Unemployed       F      0
EK59571 College              2011-02-28        Unemployed       M      0
        ... Number.of.Open.Complaints Number.of.Policies Policy.Type
WB37082 ... 0                         2                  Personal Auto
GW33762 ... 0                         5                  Personal Auto
ZU35962 ... 0                         2                  Personal Auto
DS81757 ... 0                         1                  Personal Auto
LM19287 ... 0                         1                  Personal Auto
EK59571 ... 0                         1                  Corporate Auto
        Policy       Renew.Offer.Type Sales.Channel Total.Claim.Amount
WB37082 Personal L3  Offer3           Branch        676.39148
GW33762 Personal L3  Offer1           Call Center   456.00000
ZU35962 Personal L3  Offer3           Branch         25.80768
DS81757 Personal L1  Offer4           Web           721.24221
LM19287 Personal L1  Offer1           Agent         460.80000
EK59571 Corporate L2 Offer1           Branch        504.00000
        Vehicle.Class Vehicle.Size incomeCat
WB37082 Four-Door Car Large        Low
GW33762 Two-Door Car  Large        Low
ZU35962 Two-Door Car  Large        Low
DS81757 Two-Door Car  Large        Low
LM19287 Four-Door Car Large        Low
EK59571 Four-Door Car Large        Low

In [55]:

cat("\n#Tidyverse syntax:\n")
clvDataByCat <- clvData %>%
    arrange(Vehicle.Size, Income)

head(clvDataByCat)

#Tidyverse syntax:

  Customer State      Customer.Lifetime.Value Response Coverage
1 WB37082  Arizona    6613.974                No       Basic
2 GW33762  Oregon     6846.150                Yes      Extended
3 ZU35962  California 8025.229                No       Extended
4 DS81757  Oregon     2470.121                No       Basic
5 LM19287  Oregon     3731.505                Yes      Extended
6 EK59571  Oregon     3885.456                Yes      Premium
  Education            Effective.To.Date EmploymentStatus Gender Income ...
1 Bachelor             2011-01-23        Unemployed       F      0      ...
2 Bachelor             2011-01-27        Unemployed       F      0      ...
3 College              2011-01-26        Unemployed       F      0      ...
4 College              2011-01-09        Unemployed       M      0      ...
5 High School or Below 2011-02-24        Unemployed       F      0      ...
6 College              2011-02-28        Unemployed       M      0      ...
  Number.of.Open.Complaints Number.of.Policies Policy.Type    Policy
1 0                         2                  Personal Auto  Personal L3
2 0                         5                  Personal Auto  Personal L3
3 0                         2                  Personal Auto  Personal L3
4 0                         1                  Personal Auto  Personal L1
5 0                         1                  Personal Auto  Personal L1
6 0                         1                  Corporate Auto Corporate L2
  Renew.Offer.Type Sales.Channel Total.Claim.Amount Vehicle.Class Vehicle.Size
1 Offer3           Branch        676.39148          Four-Door Car Large
2 Offer1           Call Center   456.00000          Two-Door Car  Large
3 Offer3           Branch         25.80768          Two-Door Car  Large
4 Offer4           Web           721.24221          Two-Door Car  Large
5 Offer1           Agent         460.80000          Four-Door Car Large
6 Offer1           Branch        504.00000          Four-Door Car Large
  incomeCat
1 Low
2 Low
3 Low
4 Low
5 Low
6 Low


## Aggregate Data
    
The term aggregation refers to the process of partitioning all rows of a dataframe, which have the same value in one or more configurable attributes, and summarize each partition by the value of a configurable function. In the example below all observations, which have the same value in the attribute `Vehicle.Size` are mapped to the same partition and the `mean()`-function is applied to all numeric attributes of each partition.

With [`aggregate(x, by, FUN)`](https://www.rdocumentation.org/packages/stats/versions/3.6.1/topics/aggregate) we can aggregate 'x' with the 'by' argument containing a list of grouping elements and a call of function 'FUN' for every aggregated set.

New functions from **tidyverse** (more exactly from the dplyr package)
* [`group_by()`](https://dplyr.tidyverse.org/reference/group_by.html) to group rows by different parameters - see [examples](https://r4ds.had.co.nz/transform.html#grouped-summaries-with-summarise).
* [`summarise()`](https://dplyr.tidyverse.org/reference/summarise.html) to summarize the grouped data sets by different parameters - see [examples](https://r4ds.had.co.nz/transform.html#grouped-summaries-with-summarise). Look also at [Useful summary functions](https://r4ds.had.co.nz/transform.html#summarise-funs).

In [56]:
  
summedByCat <- aggregate(clvData[c("Income", "Customer.Lifetime.Value")],                          
                         by=list(Group.Vehicle.Size=clvData$Vehicle.Size),
                         FUN=mean,
                         na.rm=TRUE)
summedByCat

  Group.Vehicle.Size Income   Customer.Lifetime.Value
1 Large              35969.71 7544.996
2 Medsize            37972.14 8051.863
3 Small              37419.52 8087.647

In [57]:
cat("\n#Tidyverse syntax:\n")
#by_def <- group_by(clvData, Vehicle.Size)
summedByCat <- clvData %>%
        group_by(Group.Vehicle.Size = Vehicle.Size) %>%
        summarise(
            count = n(),                             # show also the numbers
            Income_mean = mean(Income, na.rm = TRUE),
            Customer.Lifetime.Value_mean = mean(Customer.Lifetime.Value, na.rm = TRUE)
        )     # %>% filter(...)  # you can also chain other functions

summedByCat

#Other useful summary functions: 
#   see https://r4ds.had.co.nz/transform.html#summarise-funs

#KEEP IN MIND:
#summarise() can only handle one return value of the summary-function, e.g. mean() ...
#See discussion with Hadley Wickham at https://github.com/tidyverse/dplyr/issues/154
#
#In lecture "Selection of statistical R-functions" we discuss another solution

#Tidyverse syntax:

  Group.Vehicle.Size count Income_mean Customer.Lifetime.Value_mean
1 Large               946  35969.71    7544.996
2 Medsize            6421  37972.14    8051.863
3 Small              1762  37419.52    8087.647

As we have seen above, we can use [**do()**](https://www.r-bloggers.com/dplyr-do-some-tips-for-using-and-programming/) to prevent the automatic insertion of the data (defined by .) at the first position in a pipe (defined by %>%). Especially at grouping, the `do()` consider the aggregated data sets.

In [58]:

groupByCat <- clvData %>%
        group_by(Group.Vehicle.Size = Vehicle.Size) %>%
        select(Customer, Effective.To.Date, Income, Group.Vehicle.Size) %>%
        do(head(., 2))

groupByCat

  Customer Effective.To.Date Income Group.Vehicle.Size
1 FS42516  2011-01-29        97541  Large
2 GE62437  2011-02-02        86584  Large
3 BU79786  2011-02-24        56274  Medsize
4 QZ44356  2011-01-31            0  Medsize
5 SX51350  2011-02-21            0  Small
6 FL50705  2011-01-14        66140  Small

### Helpful function expand.grid()

Sometimes it is helpful to have a data frame with all combinations of given vectors or given factors. Using [`expand.grid()`](https://tidyr.tidyverse.org/reference/expand.html) help to solve that problem.

Here we can also use the argument 'stringsAsFactors' to define a logical value to convert string values in factors.

In [59]:
smoker <- c("yes","no")
children <- c(0, 1, 2, 3)
sex <- c("male","female")

expand.grid(sex, children, smoker)

   Var1   Var2 Var3
1  male   0    yes
2  female 0    yes
3  male   1    yes
4  female 1    yes
5  male   2    yes
6  female 2    yes
7  male   3    yes
8  female 3    yes
9  male   0    no
10 female 0    no
11 male   1    no
12 female 1    no
13 male   2    no
14 female 2    no
15 male   3    no
16 female 3    no

## Exercises

[Exercise on Dataframes in R](../exercises/Ass06DataframeAccessR.ipynb)